body {
    font-family: Raleway, sans-serif;
    margin: 0;
}
h3{
   margin-top: 5px;
   margin-bottom: 5px;
}
h4{
    font-size: large;
}

                        /*En-tête*/
header{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    width: 5%;
    height: 5%;
}
nav{
    width: 15%;
}
.ul-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
}
.li-navigation:hover{
    border-top: 1px solid #0065FC;
}
li{
    list-style: none;
}
a{
    color: black;
    text-decoration: none;
}
button{
    border: 0px solid transparent;
    background-color: transparent;
    font-weight:bold;
    font-size: medium;
}

                        /*Section 1*/
section{
    padding: 0 30px 0 30px;
}
h1{
    font-size:22px;
}
                        /*Barre de recherche*/
.barre-de-recherche{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.height-search{
    height: 50px;
}
.center-search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.fa-location-dot{
    text-align: center;
    background-color: #F2F2F2;
    width: 3%;
    border-radius: 17px 0 0 17px;
}
.search{
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    width: 12.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 13px;
}
.button-search{
    font-size: medium;
    background-color: #0065FC;
    border-radius:0 17px 17px 0;
    color: white;
    width: 7%;
    cursor: pointer;
    border: 0px solid transparent;
}
.font-weight-search{
    font-weight: bold;
}
                        /*Filtres*/
.filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-top: 20px;
}
.title-filter{
    font-size: large;
    font-weight: bold;
}
.theme-filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top:1px solid #F2F2F2;
    border-bottom:1px solid #F2F2F2;
    border-right:1px solid #F2F2F2;
    border-radius:30px;
}
.filter-backgroud{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    width: 45px;
    height: 45px;
    border-radius: 100px;
    color: #0065FC;
}
.text-filter{
    margin: 0 25px 0 15px;
    font-weight: bold;
}
                        /*Infos*/
.infos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 24%;
}
.icon-infos{
    font-size: small;
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 22px;
    height: 22px;
}
                        /*Section 2*/
.section-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 850px;
}
.accomodation-a-marseille{
    width: 65%;
}
.background-accomodation{
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 40px;
}
.cards-accomodation-marseille{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 85%;
}
.hotel-marseille{
    width: 32%;
    height: 42%;
}
.background-hotel{
    background-color: white;
    border-radius: 20px;
}
.img-accomodation-marseille{
    width: 97.5%;
    height: 60%;
    border-radius: 20px 20px 0 0;
    border: 5px solid white;
    object-fit: cover;
}
.accomodation-margin{
    margin-left: 15px;
}
.p-accomodation-margin{
    margin: 10px 0 10px 0;
}
.star-blue{
    color: #0065FC;
}
.star-grey{
    color: #F2F2F2;
}
                        /*Aside*/
aside{
    width: 25%;
}
.display-popular{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.star-popular{
    font-size: larger;
}
.height-popular{
    height: 90%;
    margin-top: 27px;
}
.img-accomodation-star{
    width: 40%;
    border-radius: 20px 0 0 20px;
    border: 5px solid white;
    object-fit: cover;
}
.title-popular{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.card-popular-hotel{
    display: flex;
    flex-direction: row;
    height: 30%;
    border-radius: 20px;
}
.text-popular{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10px;
}
.animation:hover{
    transform: scale(1.05);
    transition: linear 0.3s;
}

                        /*Section 3*/
.activités{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
}
.section3{
    height: 750px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-activité{
    width: 23%;
}
.box-shadow{
    box-shadow: 2px 2px 7px grey;
    border-radius: 20px;
}
.border-radius-img{
    border-radius: 20px 20px 0 0;
}
.full-height-activity{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.img-full-activité{
   width: 100%;
   height: 93%;
   object-fit: cover;
}
.two-activity{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.medium-height-activity{
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.img-medium-activity{
    height: 90%;
    width: 100%;
    object-fit: cover;
}
.small-height-activity{
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.img-small-activity{
    height: 83%;
    width: 100%;
    object-fit: cover;
}
.name-activity{
    padding: 15px;
    margin: 0;
}
                    /*Footer*/
footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #F2F2F2;
    margin-top: 60px;
    height: 250px;
}
.div-footer{
    width: 29%;
    margin: 40px 0 40px 0;
}
.ul-footer{
    padding: 0;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ul-footer2{
    padding: 0;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}